<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          {{#if isAuthenticated}} 
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          {{ user.name}}的餐廳清單
        </a>
        {{/if}}
    
        {{#if isAuthenticated}}
        <a href="/users/logout" class="btn btn-outline-dark">Logout</a>
        {{else}}
        <a href="/users/login" class="btn btn-outline-dark">Login</a>
        {{/if}}

      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>